node_modules/
api/node_modules/
api/.env
api/cypress/videos/
api/cypress/screenshots/
api/.DS_Store
.DS_Store
.yarn/*
!.yarn/releases
!.yarn/plugins
.yarnrc.yml
.pnp.*
.pnp.js
install-state.gz
cypress-npm-*.*
api/cypress/reports/*
**/.DS_Store
package-lock.json

