# Node modules
node_modules/
api/node_modules/

# Ambiente
api/.env
web/.env

# Cypress - API
api/cypress/videos/
api/cypress/screenshots/
api/cypress/reports/*

# Cypress - Web
web/cypress/videos/
web/cypress/screenshots/
web/cypress/reports/*

# Sistema
.DS_Store
**/.DS_Store

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
.yarnrc.yml
.pnp.*
.pnp.js
install-state.gz

# Cypress cache
cypress-npm-*.*
package-lock.json
